.currencyInput {
    input,
    select {
        padding: 10px;
        border-radius: 5px;
    }
    select {
        margin-left: 5px;
        margin-bottom: 5px;
        color: #ffff;
        background-color: rgb(33, 37, 41);
    }
}
